<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-size-5" href="/">
        <p class="has-text-weight-bold is-size-4">BookHub</p>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/dashboard">
            <button class="button is-primary">Dashboard</button>
          </a>

          <a class="navbar-item" href="/addbook">
            <button class="button is-primary">Add Book</button>
          </a>
    
          <a class="navbar-item" href="/mybooks">
            <button class="button is-primary">My Books</button>
          </a>  
        </div>
    
    
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                      <strong>My Profile</strong>
                    </a>
                    <a id="log-out-button" class="button is-danger">
                      Log out
                    </a>
                  </div>
            </div>
    
        </div>
    </div>

    <script>
      console.log('hello there')
    </script>
      
</nav>