<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
    <section id="header" class="section">

    </section>
    <section class="section">
        <div id="books-list" class="columns is-multiline">
          
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        async function loadData() {
            const headerResponse = await axios.get('/header');
            const header = headerResponse.data
            document.querySelector('#header').innerHTML = header
        }
        loadData();

        const booksList = document.querySelector('#books-list');

        axios.post('/my-books')
        .then(res => res.data.forEach(book => {
          const bookCol = document.createElement('div')
          bookCol.classList.add('column', 'is-3');
          const bookCard = document.createElement('card');
          // Book Heading
          const bookHeading = document.createElement('header')
          bookHeading.classList.add('card-header')
          const bookName = document.createElement('p');
          bookName.classList.add('card-header-title');
          bookName.innerText = book.name
          bookHeading.appendChild(bookName);
          // Book Description
          const bookDesc = document.createElement('div');
          bookDesc.classList.add('card-content');
          const bookDescContent = document.createElement('div');
          bookDescContent.classList.add('content');
          bookDescContent.innerText = book.description.slice(0, 100) + '...';
          bookDesc.appendChild(bookDescContent);
          // Book Buttons
          const Buttons = document.createElement('footer');
          Buttons.classList.add('card-footer');
          // View the book Details of the book
          const viewButton = document.createElement('a');
          viewButton.classList.add('card-footer-item');
          viewButton.innerText = 'Show Details'
          Buttons.appendChild(viewButton);
          // Buy the Book button
          const buyButton = document.createElement('a');
          buyButton.classList.add('card-footer-item');
          buyButton.innerText = 'Buy';
          Buttons.appendChild(buyButton)
          

          bookCard.appendChild(bookHeading);
          bookCard.appendChild(bookDesc);
          bookCard.appendChild(Buttons);
          bookCol.appendChild(bookCard);
          booksList.appendChild(bookCol);


        }))
        .catch(err => console.log(err));
    </script>
</body>
</html>