<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Books</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

</head>
<body>
    <section id="header" class="section">

    </section>
    <section class="section">
        <div id="books-list" class="columns is-multiline">
          
        </div>
    </section>

    <div id="modal" class="modal">
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        async function loadData() {
            const headerResponse = await axios.get('/header');
            const header = headerResponse.data
            document.querySelector('#header').innerHTML = header
        }
        loadData();

        function createInputs(element, name, value) {
            const field = document.createElement('div');
            field.classList.add('field')
            const label = document.createElement('label');
            label.classList.add('label');
            label.innerText = name;
            const control = document.createElement('div');
            control.classList.add('control')
            const input = document.createElement(element);
            input.classList.add(element)
            input.name = name.toLowerCase();
            input.type = 'text';
            input.value = value;
            control.appendChild(input);
            field.appendChild(label);
            field.appendChild(control);
            return field;
        }
        // show the Edit form to edit the details
        async function showEditSection(bookId) {
            const modal = document.querySelector('#modal');
            const book = await axios.post('/bookdetails', { bookId: bookId }, { headers: { 'Content-Type': 'application/json' } })
  
            const background = document.createElement('div');
            background.classList.add('modal-background');
            // Header section
            const headerp = document.createElement('p');
            headerp.classList.add('modal-card-title')
            headerp.innerText = `Edit Book - ${book.data.name}`
            const headerb = document.createElement('button');
            headerb.classList.add('delete');
            headerb.id = 'close-button';
            
            const headersection = document.createElement('header');
            headersection.classList.add('modal-card-head');
            headersection.appendChild(headerp);
            headersection.appendChild(headerb);
            // Body section
            const bodysection = document.createElement('section');
            bodysection.classList.add('modal-card-body');
            const form = document.createElement('form');
            form.id = 'edit-form';
            // book-name field
            const namefield = createInputs('input', 'Name', book.data.name);
            namefield.id = 'nameInput';
            // book-price field
            const pricefield = createInputs('input', 'Price', book.data.price);
            // book-author field
            const authorfield = createInputs('input', 'Author', book.data.author);
            // book desc field
            const descfield = createInputs('textarea', 'Description', book.data.description);
            // submit button
            const submitfield = document.createElement('field');
            submitfield.classList.add('field');
            const submitcontrol = document.createElement('control');
            const submitbutton = document.createElement('button');
            submitbutton.classList.add('button', 'is-link');
            submitbutton.innerText = 'Submit'
            submitbutton.id = 'submit-button';
            submitcontrol.appendChild(submitbutton);
            submitfield.appendChild(submitcontrol);

            form.appendChild(namefield)
            form.appendChild(pricefield)
            form.appendChild(authorfield)
            form.appendChild(descfield);
            form.appendChild(submitfield);

            bodysection.appendChild(form);

            // footer section
            const footersection = document.createElement('footer');
            footersection.classList.add('modal-card-foot');

            // creating the modal and appending to modal
            const modalCard = document.createElement('div');
            modalCard.classList.add('modal-card');
            modalCard.appendChild(headersection);
            modalCard.appendChild(bodysection);
            modalCard.appendChild(footersection);

            modal.appendChild(background);
            modal.appendChild(modalCard);
            modal.classList.add('is-active');

            const closeBtn = document.querySelector('#close-button');
            closeBtn.addEventListener('click', () => {
                modal.classList.remove('is-active')
                document.querySelector('#modal').innerHTML = '';
            })
            const submitBtn = document.querySelector('#submit-button');
            submitBtn.addEventListener('click', (e) => {
                e.preventDefault();
                const editForm = document.querySelector('#edit-form')
                const editFormData = new FormData(editForm);
                editFormData.set('_id', book.data._id)
                
                axios.post('/editbook', editFormData, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(res => alert('updated'))
                .catch(err => alert(err));
            })
        }

        const booksList = document.querySelector('#books-list');

        axios.post('/mybooks')
        .then(res => res.data.forEach(book => {
          const bookCol = document.createElement('div')
          bookCol.classList.add('column', 'is-3');
          const bookCard = document.createElement('div');
          bookCard.classList.add('card')
          // Book Heading
          const bookHeading = document.createElement('header')
          bookHeading.classList.add('card-header')
          const bookName = document.createElement('p');
          bookName.classList.add('card-header-title');
          bookName.innerText = book.name
          bookHeading.appendChild(bookName);
          // Book Description
          const bookDesc = document.createElement('div');
          bookDesc.classList.add('card-content');
          const bookDescContent = document.createElement('div');
          bookDescContent.classList.add('content');
          bookDescContent.innerText = book.description.slice(0, 100) + '...';
          bookDesc.appendChild(bookDescContent);
          // Book Buttons
          const Buttons = document.createElement('footer');
          Buttons.classList.add('card-footer');
          // View the book Details of the book
          const editButton = document.createElement('a');
          editButton.classList.add('card-footer-item');
          editButton.innerText = 'Edit'
          editButton.addEventListener('click', () => {
            let bookId = book._id
            showEditSection(bookId)
          })
          Buttons.appendChild(editButton);
          // Buy the Book button
          const deleteButton = document.createElement('a');
          deleteButton.classList.add('card-footer-item');
          deleteButton.innerText = 'Delete';
          Buttons.appendChild(deleteButton)
          

          bookCard.appendChild(bookHeading);
          bookCard.appendChild(bookDesc);
          bookCard.appendChild(Buttons);
          bookCol.appendChild(bookCard);
          booksList.appendChild(bookCol);


        }))
        .catch(err => console.log(err));
    </script>
</body>
</html>