<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <form id="sign-in-form">
                        <div class="field">
                            <h1 class="title is-1">BookHub - Sign In</h1>
                            <div id="show-message" class="field"></div>
                            <p class="control has-icons-left has-icons-right">
                              <input class="input" type="email" placeholder="Email" name="email">
                              <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </p>
                          </div>
                          <div class="field">
                            <p class="control has-icons-left">
                              <input class="input" type="password" placeholder="Password" name="password">
                              <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                              </span>
                            </p>
                          </div>
                          <div class="field">
                            <p class="control">
                              <button id='sign-in-button' class="button is-success">
                                Login
                              </button>
                            </p>
                          </div>
                    </form>
                </div>
            </div>
            
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      const form = document.querySelector('#sign-in-form');
      const button = document.querySelector('#sign-in-button');
      const success = document.querySelector('#show-message');
      button.addEventListener('click', (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        axios.post('/signin', formData, {
          headers: {
            'Content-Type': 'application/json'
          }
        })
        // .then(res => document.location.href = '/dashboard')
        .then(res => {
          if( res.status === 200 && res.data.success ) {
            let article = document.createElement('article');
            article.classList.add('message', 'is-success');
            article.innerHTML = 
            `
            <div class="message-header">
                <p>Success</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">Logged In. Redirecting to Home in 3 seconds....</div>
            `
            success.appendChild(article);
            const message = document.querySelector('.message');
            setTimeout(() => {
              document.location = '/dashboard'
            }, 3000);
            document.querySelector('.delete').addEventListener('click', (e) => {
                e.preventDefault();
                message.remove();
            })
          }
        })
        .catch(err => {
          let article = document.createElement('article');
          if(err.response.status == 401) {
              article.classList.add('message', 'is-warning');
              article.innerHTML = 
            `
              <div class="message-header">
                  <p>Invalid Credentials</p>
                  <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">Email or Password does not  match. Try again....</div>
            `
            } else {
              article.classList.add('message', 'is-danger');
              article.innerHTML = 
              `
              <div class="message-header">
                  <p>Internal Sever Error</p>
                  <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">Try logging after some time.</div>
            `
            }
            success.appendChild(article);
            const message = document.querySelector('.message');
            document.querySelector('.delete').addEventListener('click', (e) => {
                e.preventDefault();
                message.remove();
            })

            
        });
      })
    </script>
    
</body>
</html>